div.a
{
    text-align: right;
}
ul#navigation .active {
    font-weight: bold;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1{
    background-color: powderblue;
    text-align: center;
    top: -30px;
    position: relative;
    color: red;
}

div.justified {
    display: flex;
    justify-content: center;
}